/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 768px) and (max-width: 991px) {
     .main-menu ul>li a {
         padding: 20px 20px 20px;
    }
     .header-search {
         padding: 15px 0px;
    }
}
/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 599px) and (max-width: 767px) {
     .logo {
         text-align: center;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .mg {
         margin: 0px 0px;
    }
     .menu-area-main {
         height: 256px;
         overflow-y: auto;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         height: 19px;
    }
     .category-box.women-box {
         display: none;
    }
     .cart-box {
         display: inline-block;
         margin: 0px 30px;
    }
     .wish-box {
         float: none;
         margin: 0px 30px;
         display: inline-block;
    }
     .menu-add {
         display: none;
    }
     .category-box {
         display: none;
    }
     .mean-container .mean-nav ul li ol {
         padding: 0px;
    }
     .mean-container .mean-nav ul li a {
         padding: 10px 20px;
         width: 94.8%;
    }
     .mean-container .mean-nav ul li li a {
         width: 92%;
         padding: 1em 4%;
    }
     .mean-container .mean-nav ul li li li a {
         width: 100%;
    }
     .header-search {
         padding: 15px 0px;
    }
     #collapseFilter.d-md-block {
         padding: 30px 0px;
    }
}
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 280px) and (max-width: 599px) {
     .cart-content-right {
         padding-bottom: 5px;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a {
         padding: 1em 4%;
         width: 92%;
    }
     .mean-container .mean-nav ul li li a {
         width: 90%;
         padding: 1em 5%;
    }
     .mean-container .sub-full.megamenu-categories ol li a {
         padding: 5px 0px;
         text-transform: capitalize;
         width: 100%;
    }
     .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
         width: auto;
         border: none;
         float: none;
    }
     .menu-area-main {
         height: 290px;
         overflow-y: auto;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         top: 0;
    }
}
 @media (min-width: 992px) and (max-width: 1199px) {
     .main-menu ul > li a {
         padding: 11px 9px 0 9px;
    }
     .full-slider_cont h1 {
         font-size: 51px;
         line-height: 61px;
    }
     .Coach .tow-box p {
        font-size: 21px;
    }
     .get {
        padding-left: 0;
    }
     .get h2 {
         line-height: 36px;
         font-size: 31px;
    }
     .get p {
        font-size: 15px;
         line-height: 25px;
    }
     .get a {
        margin-top: 19px;
    }
     ul.socil_link li {
         padding-right: 20%;
    }
     .footer .newsletter .subscribe {
         padding: 21px 0;
         width: 145px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
     .main-menu ul > li a {
         padding: 11px 4px 0 4px;
    }
     .full-slider_cont h1{
         font-size: 40px;
         line-height: 50px;
    }
     .main_bt {
         margin-right: 15px;
         padding: 10px 41px 10px 41px;
    }
     .mean-last {
         display: none !important;
    }
     .pnd-top {
         margin-top: 0px !important;
    }
     .relative {
        left: 42px;
    }
     .banner-main .carousel-caption h1 {
        font-size: 40px;
         line-height: 50px;
    }
     .banner-main .carousel-caption span {
         font-size: 25px;
         padding-bottom: 15px;
    }
     .banner-main .carousel-caption p {
        font-size: 14px;
         line-height: 25px;
    }
     .button_section {
         padding-top: 20px;
    }
     .pdn-right {
         padding-right: 0px;
         padding-left: 0px;
    }
     .aboutheading h2 {
        font-size: 34px;
    }
     .Coach .tow-box p {
        font-size: 18px;
         line-height: 26px;
    }
     .get {
         padding-left: 0;
    }
     ul.location_icon span {
        font-size: 13px;
    }
}
 @media (min-width: 576px) and (max-width: 767px){


.logo{
    padding-top: 6px;}
     .header {
        padding-bottom: 11px;
    }
     .mean-container .mean-bar {

    margin-top: 0px;}
.mean-last {
         display: none;
    }
     .mean-last {
         display: none !important;
    }
     .carousel-caption {
        display: none;
    }
     .pdn-right {
         padding-right: 0px;
         padding-left: 0px;
    }
     .get {
         padding-left: 0;
    }
     .Coach .tow-box p {
        font-size: 26px;
    }
     .pnd-top {
         padding-top: 60px;
    }
     .footer .JJcoach h3 {
        width: 462px;
    }
     ul.location_icon {
         margin-bottom: 25px;
    }
}
 @media (max-width: 575px) {
     .header {
        padding-bottom: 0;
    }
     .logo {
         float: none;
         text-align: center;
         padding-bottom: 11px;
    }
     .mean-container .mean-bar {
         margin-top: 0;
    }
     .mean-last {
         display: none;
    }
     .mean-last {
         display: none !important;
    }
     .carousel-caption {
        display: none;
    }
     .aboutheading h2 {
         font-size: 45px;
    }
     .pdn-right {
         padding-right: 0px;
         padding-left: 0px;
    }
     .about .aboutimg p {
        font-size: 15px;
         line-height: 28px;
    }
     .Coach .titlepage h2 {
         line-height: 34px;
         font-size: 23px;
    }
     .Coach .titlepage span {
         font-size: 16px;
         line-height: 19px;
    }
     .Coach .tow-box p {
         font-size: 18px;
         line-height: 24px;
    }
     .pnd-top {
         margin-top: 60px;
    }
     .get {
         padding-left: 3.3%;
    }
     .get h2 {
         line-height: 52px;
         font-size: 39px;
    }
     .get p {
         font-size: 16px;
         line-height: 27px;
    }
     .Contact .titlepage3 h2 {
        font-size: 50px;
    }
     .send-btn {
         font-size: 15px;
         padding: 16px 58px;
    }
     .footer .JJcoach h3 {
         width: 289px;
    }
     ul.location_icon {
         margin-bottom: 25px;
    }
}
 